.accordion .card-header h5 > button {
	white-space: normal !important;
}
.map-responsive {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}