@import url('https://fonts.googleapis.com/css?family=Mukta');
html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Mukta', sans-serif;
	padding: 0;
	background: #E6ECFB;
	color: #6D7379;
}

header {
	min-height: 100%;
}

section {
	padding: 20px;
	padding-bottom: 55px;
	text-align: center;
}

section img {
	max-width: 256px;
	margin-top: 20px;
}

h1 {
	font-size: 60px;
	margin: 10px;
	line-height: 1;
}

footer {
	height: 55px;
	margin-top: -55px;
	text-align: center;
	line-height: 1.5;
}